<!DOCTYPE html>

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
</head>

<body>
    <header>
        <div class="main-menu">
            <div class="logo">
               <a href="/"><img src="/logo.png" alt="Logo"></a> 
            </div>
            <div class="menu">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </div>

    </header>
    {% block content%}
    {% endblock %}
    <footer>
        <p>Todos os direitos reservado, Foodfy</p>
    </footer>
    <script src="/script.js"></script>
</body>

</html>